<ul class="nav navbar-nav navbar-left">
    <% @menus.each do |menu| %>
                     <li>
                        <a target=test href=/<%= menu.url %> class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog">
                            </i>
                            <span class="ml10">
                                <%=menu.id.to_s+ menu.mingzi %>
                            </span>
                            <span class="caret-down">
                            </span>
                        </a>
                        <ul class="dropdown-menu" style=" left:0;right:auto;">
                        <%
                        Menu.where("menu_id = "+menu.id.to_s+"").each do |submenu| %>
                            <li>
                                <a target=test  href=/<%= submenu.url %>>
                                   <%= submenu.id.to_s+ submenu.mingzi %>
                                </a>
                            </li>
                                <% end %>
                           </ul>
                    </li>
    <% end %>
</ul>
<iframe src="/dns" frameborder="0" width=100% name=test scrolling="no" id="test" onload="this.height=100"></iframe>
<script type="text/javascript">
function reinitIframe(){
var iframe = document.getElementById("test");
try{
var bHeight = iframe.contentWindow.document.body.scrollHeight;
var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
var height = Math.max(bHeight, dHeight);
iframe.height = height;
console.log(height);
}catch (ex){}
}
window.setInterval("reinitIframe()", 200);
</script>
