<table>


  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <a target=test href=/<%= menu.url %>><%= menu.mingzi %></td></a>
      </tr>
    <% end %>
  </tbody>
</table>
<iframe src="backtop.html" frameborder="0" width=100% name=test scrolling="no" id="test" onload="this.height=100"></iframe>
<script type="text/javascript">
function reinitIframe(){
var iframe = document.getElementById("test");
try{
var bHeight = iframe.contentWindow.document.body.scrollHeight;
var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
var height = Math.max(bHeight, dHeight);
iframe.height = height;
console.log(height);
}catch (ex){}
}
window.setInterval("reinitIframe()", 200);
</script>
