<h1>编辑xujiedaifangkuanliebiao</h1>

<%= render 'form', xujiedaifangkuanliebiao: @xujiedaifangkuanliebiao %>

<%= link_to 'Show', @xujiedaifangkuanliebiao %> |
<%= link_to 'Back', xujiedaifangkuanliebiaos_path %>
