<h1>编辑新用户贷放款列表</h1>

<%= render 'form', xinyonghudaifangkuanliebiao: @xinyonghudaifangkuanliebiao %>

<%= link_to 'Show', @xinyonghudaifangkuanliebiao %> |
<%= link_to 'Back', xinyonghudaifangkuanliebiaos_path %>
